
.idea/codeStyles/

.idea/

hello-world/.gradle/5.2.1/executionHistory/

hello-world/build/reports/tests/test/

hello-world/.gradle
hello-world/.idea
hello-world/.exercism
hello-world/build
hello-world/gradle

.gradle/
.idea/
.exercism/
build/
gradle/
gradlew
gradlew.bat